In [69]:
import pandas as pd
import numpy as np

In [70]:
v_0 = pd.read_csv('submission_0.csv')
v_1 = pd.read_csv('submission_1.csv')
v_0

           id        price
0      RB0IF4  8006.761249
1      VZE001  6687.948179
2      KBPR5E  6660.981621
3      P9XC55  5283.805094
4      SWZ04L  6525.819519
...       ...          ...
56718  QHB8FI  6369.934281
56719  HPFH2G  8270.075063
56720  K2P4UU  6763.083222
56721  9OWCYX  6970.117027
56722  3AWY3Q  4443.850876

[56723 rows x 2 columns]

In [71]:
price_0 = v_0['price']
price_1 = v_1['price']
tot = []
for i0, i1 in zip(price_0, price_1):
    tot.append(i1 - i0)
np.mean(tot)

-18.258095838685577

2500 < x < 2600

In [72]:
new = []
for i in price_1:
    new.append(i - 2500)
len(new)

56723

In [73]:
n = 0
for i in range(len(new)):
    if new[i] < 0:
        new[i] = 2500
        
for i in new:
    if i < 0:
        print('hell')

In [74]:
idx = v_1['id']
len(idx)
type(new)

list

In [75]:
list_to_pandas = [idx, np.array(new)]
df = pd.DataFrame(list_to_pandas).transpose()
df.columns = ['id', 'price']
df.to_csv('submission.csv', mode='w')